MAIL_HOST=smtp.example.com
MAIL_USER=anvandare@example.com
MAIL_PASS=losenord
MAIL_FROM=noreply@ambitionsverige.se
MAIL_DEMO_MODE=true

# Department passwords.
# Medlemsutskick
PASSWORD_UTSKICK=demo-utskick
# Utskick i Sociala medier
PASSWORD_FACEBOOK=demo-facebook
PASSWORD_PARTIET=demo-partiet
PASSWORD_MATERIAL=demo-material
PASSWORD_GRAFISKT_MATERIAL=demo-grafiskt
PASSWORD_MEDLEMSREGISTER=demo-medlemsregister
PASSWORD_IT_SUPPORT=demo-it-support
PASSWORD_HEMSIDA=demo-hemsida
PASSWORD_MARKNAD=demo-marknad

# SMTP overrides
SMTP_PORT=587
SMTP_SECURE=false
# SMTP_HOST=
# SMTP_USER=
# SMTP_PASS=

# IMAP overrides
# IMAP_HOST=
# IMAP_USER=
# IMAP_PASS=
